footer

    br
    p * EVE Echoes, New Eden, and all related concepts therein
    p    are the property of CCP Games and NetEase Games,
    p    which has no affiliation with this website.
script.
    function showTheme() {
        if (localStorage.getItem("theme") === "dark") {
            document.body.classList.add("dark");
        }
    }

    function showContent() {
        document.body.style.visibility = 'visible';
        document.body.style.opacity = 1;
    }

    window.addEventListener('DOMContentLoaded', function () {
        showTheme();
        showContent();
    });