footer
    p * EVE Echoes, New Eden, and all related concepts therein
    p    are the property of CCP Games and NetEase Games,
    p    which has no affiliation with this website.
    br
    p This site has been moved to a new free service.
    p Because the service is free, the hosting server spools down
    p with no activity. So initial loads may take a bit.
    <hr>
    p Donations will go towards upgrading the server to elminate this limitation.

    P P.S. Donors will be redirected to a good laugh.

    div(id="donate-button-container")
        div( id="donate-button")
        script(src="https://www.paypalobjects.com/donate/sdk/donate-sdk.js" charset="UTF-8")
        script.
            PayPal.Donation.Button({
                env:'production',
                hosted_button_id:'BSAGHQTGSKKZ8',
                image: {
                src:'https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif',
                alt:'Donate with PayPal button',
                title:'PayPal - The safer, easier way to pay online!',
                }
                }).render('#donate-button');
               