footer
    p * EVE Echoes, New Eden, and all related concepts therein
    p    are the property of CCP Games and NetEase Games,
    p    which has no affiliation with this website.

    P Because heroku no longer is offering free web hosting 
    P service, I'm kindly asking for donations to cover 
    P the costs. Its not much ($5/Month) but since I dont play  
    P much at all, I leave this up for everyone else. 
    P I don't want to use ad's either. Thank you in Advance!

    P P.S. Donors will be redirected to a good laugh.

    div(id="donate-button-container")
        div( id="donate-button")
        script(src="https://www.paypalobjects.com/donate/sdk/donate-sdk.js" charset="UTF-8")
        script
            PayPal.Donation.Button({
                env:'production',
                hosted_button_id:'BSAGHQTGSKKZ8',
                image: {
                src:'https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif',
                alt:'Donate with PayPal button',
                title:'PayPal - The safer, easier way to pay online!',
                }
                }).render('#donate-button');
               