header
    h1 EVE Echoes PI Search Has Moved (Yet Again)!
    h2 Change your bookmarks!
    p Please go to: <a href="https://echoes-pi.venomore.com/" target="_blank">EVE Echoes PI Finder</a><br>
    p This should be the last move of the app and you should experience faster load times with no downtimes.
    button(id="theme-toggle" class="themeButton") Dark Mode
        script.
            document.addEventListener("DOMContentLoaded", () => {
                const themeStylesheet = document.getElementById("theme");
                const storedTheme = localStorage.getItem("theme");

                if (storedTheme) {
                    themeStylesheet.href = storedTheme;
                }
                const themeToggle = document.getElementById("theme-toggle");
                themeStylesheet.href.includes("light") ? themeToggle.innerText = "Dark Mode" :
                    themeToggle.innerText = "Light Mode";
                themeToggle.addEventListener("click", () => {
                    themeStylesheet.href.includes("light") ?
                        themeStylesheet.href = "/static/style_dm.css" :
                        themeStylesheet.href = "/static/style-light.css";
                    themeStylesheet.href.includes("light") ? themeToggle.innerText = "Dark Mode" :
                        themeToggle.innerText = "Light Mode";
                    localStorage.setItem("theme", themeStylesheet.href);
                });
            });


