doctype html
html(lang='en')

    head(style="text-align:center;")
        script. 
            async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6181091984755359"
            crossorigin="anonymous"
        title Eve Echoes PI finder
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')

        link(rel="preconnect", href="https://fonts.googleapis.com")
        link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap", rel="stylesheet")
        link(id="theme" rel="stylesheet", href="/static/style_dm.css")


    body(style="text-align:center;")
        include includes/header.pug
        block content
        block constellation
        include includes/footer.pug

