extends layout

block content
    h1 Thank You for your kind donation! 
    P As a gift, please enjoy this .gif (Not Created by me)

    img(src = 'https://thumbs.gfycat.com/AltruisticUnkemptCowrie-max-1mb.gif')

    form(action='/', method='get')
        button(type='submit' class='submit') Back to Home